<div ng-controller="TaskCtrl as taskCtrl">
  <table class="table table-bordered table-hover table-condensed">
    <thead class="lead">
      <tr>
        <th>task</th>
        <th>description</th>
        <th><button ng-click="createTask()" class="btn btn-default">+</button></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in tasks.models">
        <td>
          <span editable-text="task.name" e-name="name" e-form="taskform" e-required>
            {{ task.name || 'empty' }}
          </span>
        </td>
        <td>
          <span editable-text="task.description" e-name="description" e-form="taskform" e-required>
            {{ task.description || 'empty' }}
          </span>
        </td>
        <td style="white-space: nowrap">
          <form editable-form name="taskform" ng-show="taskform.$visible" onbeforesave="updateTask(task, $data)" class="form-buttons form-inline" shown="inserted == task">
            <button type="submit" ng-disabled="taskform.$waiting" class="btn btn-primary">
              save
            </button>
            <button type="button" ng-disabled="taskform.$waiting" ng-click="taskform.$cancel()" class="btn btn-default">
              cancel
            </button>
          </form>
          <div class="buttons" ng-show="!taskform.$visible">
            <button class="btn btn-primary" ng-click="taskform.$show()">edit</button>
            <button class="btn btn-danger" ng-click="deleteTask(task, $index)">del</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
